@charset "UTF-8";

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}


@media screen and (max-width:799px) {
	.columns2 {
		display: grid;
		grid-template-columns: auto;
	}
}

@media screen and (min-width:800px) {
	.columns2 {
		display: grid;
		grid-template-columns: calc(50% - .5em) calc(50% - .5em);
		grid-gap: 1em
	}
}

a.external::after {
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
	margin: 0 3px 0 5px;
}

div>code,
p>code {
	background-color: #f4f4f4;
	white-space: nowrap
}

details,
footer,
header,
nav {
	display: block
}

[hidden],
template {
	display: none
}

a {
	background-color: transparent
}

a:active,
a:hover {
	outline: 0
}

b {
	font-weight: 700
}

h1 {
	margin: .67em 0;
	font-size: 2em
}

mark {
	background: #ff0;
	color: #000
}

img {
	border: 0
}

pre {
	overflow: auto
}

code,
pre {
	font-family: monospace, monospace;
	font-size: 1em
}

button,
input {
	margin: 0;
	color: inherit;
	font: inherit
}

button {
	overflow: visible
}

button {
	text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
	cursor: pointer;
	-webkit-appearance: button
}

button[disabled],
html input[disabled] {
	cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0
}

input {
	line-height: normal
}

input[type=checkbox],
input[type=radio] {
	padding: 0;
	box-sizing: border-box
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height: auto
}

input[type=search] {
	-webkit-appearance: textfield;
	box-sizing: border-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

* {
	box-sizing: border-box
}

html {
	height: 100%;
	font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 62.5%;
	font-weight: 300;
	line-height: 1
}

body {
	background: #ededed;
	color: #4a4a4a;
	font-size: 1.4rem;
	line-height: 2.4rem
}

.dc-h1,
.dc-h2,
.dc-h3,
.dc-h4,
.dc-h5,
.dc-h6,
.dc-list,
.dc-object,
.dc-p,
.dc-pre,
p {
	margin: 0;
	margin-bottom: 2.4rem
}

.dc-pre {
	word-wrap: normal
}

::-webkit-selection {
	background-color: #ff8e25;
	color: #fff
}

::-moz-selection {
	background-color: #ff8e25;
	color: #fff
}

::selection {
	background-color: #ff8e25;
	color: #fff
}

.dc-em {
	font-style: italic
}

.dc-h1 {
	margin-bottom: 2.4rem;
	color: #4a4a4a;
	font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 3.4rem;
	line-height: 4.8rem
}

.dc-h2 {
	margin-bottom: 2.4rem;
	color: #4a4a4a;
	font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 2.7rem;
	line-height: 3.6rem
}

.dc-h3 {
	margin-bottom: 2.4rem;
	color: #4a4a4a;
	font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 2.2rem;
	line-height: 3.6rem
}

.dc-h4 {
	margin-bottom: 2.4rem;
	color: #4a4a4a;
	font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 2.4rem
}

.dc--text-error {
	color: #ff4a25
}

.dc--text--left {
	text-align: left
}

.dc--text-right {
	text-align: right
}

.dc-page {
	padding: .8rem
}

@media (min-width:37.5em) {
	.dc-page {
		padding: 1.2rem
	}
}

@media (min-width:64em) {
	.dc-page {
		padding: 2.4rem
	}
}

@media (min-width:80em) {
	.dc-page {
		padding: 2.4rem 4.8rem
	}
}

.dc-btn {
	display: inline-block;
	padding: 1.1rem 1.2rem;
	transition: box-shadow .2s linear, border-color .2s linear;
	border: 1px solid #b6b6b6;
	border-radius: 2px;
	background: linear-gradient(#fff, #ededed);
	color: #4a4a4a;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 1.2rem;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	box-shadow: 0 1px 1px transparent;
	cursor: pointer;
	vertical-align: top
}

.dc-btn:focus {
	outline: 0;
	box-shadow: 0 0 0 2px rgba(38, 170, 254, .5)
}

.dc-btn:hover {
	outline: 0;
	background: linear-gradient(#fff, #f2f2f2);
	color: #4a4a4a;
	text-decoration: none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2)
}

.dc-btn[disabled] {
	border-color: #d1d1d1;
	background: 0 0;
	color: #b6b6b6;
	box-shadow: none;
	pointer-events: none
}

.dc-btn--link {
	border: 1px solid transparent;
	background: 0 0;
	box-shadow: none;
	transition: color .1s linear;
	color: #26aafe
}

.dc-btn--link:hover {
	border: 1px solid transparent;
	background: 0 0;
	box-shadow: none;
	color: #1e87cb
}

.dc-btn--link:focus {
	box-shadow: 0 0 0 2px rgba(38, 170, 254, .5)
}

.dc-btn--destroy {
	transition: box-shadow .2s linear
}

.dc-btn--destroy:active {
	border-color: #ff4a25;
	background: #ff6c4f;
	color: #fff
}

.dc-btn--destroy:hover {
	border-color: #ff4a25;
	background: #ff6c4f;
	color: #fff
}

.dc-btn--disabled {
	border-color: #d1d1d1;
	background: 0 0;
	color: #b6b6b6;
	box-shadow: none;
	pointer-events: none
}

.dc-btn--block {
	display: block;
	width: 100%
}

.dc-btn--no-focus:focus {
	outline: 0;
	box-shadow: none
}

.dc-btn--link.dc-btn--disabled {
	border: 1px solid transparent;
	background: 0 0;
	box-shadow: none;
	color: #b6b6b6
}

.dc-btn--link.dc-btn--disabled:active,
.dc-btn--link.dc-btn--disabled:hover {
	border: 1px solid transparent
}

.dc-card {
	padding: 2.4rem;
	border-radius: 2px;
	background-color: #fff;
	box-shadow: 0 1px 3px 2px rgba(0, 0, 0, .08)
}

.dc-checkbox {
	width: 0;
	height: 0;
	opacity: 0
}

.dc-input {
	margin-bottom: 2.4rem;
	padding: .9rem .8rem;
	transition: box-shadow .2s linear, border-color .2s linear;
	border: 1px solid #d1d1d1;
	border-radius: 2px;
	font-size: 1.4rem;
	font-weight: 300;
	box-shadow: inset 0 1px 1px transparent;
	box-sizing: border-box;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent
}

.dc-input:hover {
	border-color: #26aafe
}

.dc-input:focus {
	border-color: #26aafe;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2)
}

.dc-input[disabled] {
	border-color: #ededed;
	background-color: #f7f7f7;
	color: #b6b6b6
}

.dc-input[disabled]::-webkit-input-placeholder {
	color: #d1d1d1;
	font-weight: 300
}

.dc-input[disabled]:-moz-placeholder {
	color: #d1d1d1;
	font-weight: 300
}

.dc-input[disabled]::-moz-placeholder {
	color: #d1d1d1;
	font-weight: 300
}

.dc-input[disabled]:-ms-input-placeholder {
	color: #d1d1d1;
	font-weight: 300
}

.dc-input--block {
	display: inline-block;
	width: 100%
}

.dc-input--is-error {
	border-color: #ff4a25
}

.dc-input--is-error:focus,
.dc-input--is-error:hover {
	border-color: #ff4a25
}

.dc-input--text-right {
	text-align: right
}

.dc-input--text-right::-webkit-input-placeholder {
	text-align: right
}

.dc-input--text-right:-moz-placeholder {
	text-align: right
}

.dc-input--text-right::-moz-placeholder {
	text-align: right
}

.dc-input--text-right:-ms-input-placeholder {
	text-align: right
}

.dc-link {
	transition: color .1s linear;
	color: #26aafe;
	text-decoration: none;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent
}

.dc-link:active,
.dc-link:hover {
	color: #1e87cb;
	text-decoration: none
}

.dc-link--destroy:active,
.dc-link--destroy:hover {
	color: #ff4a25
}

.dc-link--disabled {
	color: #b6b6b6;
	cursor: default;
	pointer-events: none
}

.dc-list {
	margin: 0 0 2.4rem;
	padding: 0;
	list-style-type: none
}

.dc-list__item {
	margin-top: -1px;
	padding: .4rem .8rem;
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed
}

.dc-list__img {
	flex: 0 0 auto
}

.dc-list__body {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	justify-content: center
}

.dc-list__title {
	line-height: 2.4rem
}

.dc-list__action {
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	justify-content: center;
	width: 4.4rem;
	font-size: 1.6rem;
	text-align: center
}


:-moz-placeholder,
:-ms-input-placeholder,
::-moz-placeholder,
::-webkit-input-placeholder {
	color: #b6b6b6;
	font-weight: 300
}

a {
	transition: color .1s linear;
	color: #26aafe;
	text-decoration: none;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent
}

a:active,
a:hover {
	color: #1e87cb;
	text-decoration: none
}

h1 {
	margin-bottom: 2.4rem;
	color: #4a4a4a;
	font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 3.4rem;
	line-height: 4.8rem
}

h2 {
	color: #4a4a4a;
	font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 2.7rem;
	line-height: 3.6rem;

	margin-top: 4rem;
	margin-bottom: 1.4rem;
	border-bottom: 1px #dddddd solid;
	padding-bottom: 0.3rem;
}

h3 {
	margin-bottom: 2.4rem;
	color: #4a4a4a;
	font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 2.2rem;
	line-height: 3.6rem
}

h4 {
	margin-bottom: 2.4rem;
	color: #4a4a4a;
	font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 2.4rem
}

body {
	font-size: 16px;
	overflow-y: auto;
	overflow-x: hidden
}

.doc-navbar {
	position: fixed;
	display: flex;
	top: 0;
	right: 0;
	bottom: auto;
	left: 0;
	width: auto;
	height: 50px;
	padding: 0 10px;
	z-index: 3;
	background: #fff;
	border-bottom: 1px solid #e1e1e1;
	transition: .1s ease-in-out
}

@media screen and (min-width:800px) {
	.doc-navbar {
		width: 230px
	}
}

.doc-navbar__logo {
	flex-grow: 1;
	display: flex;
	height: 100%;
	align-items: center
}

@media screen and (max-width:800px) {
	.doc-navbar__logo {
		flex-grow: initial
	}
}

.doc-navbar__logo__img {
	width: 30px;
	height: 30px;
	margin-right: 6px
}

.doc-navbar__logo__text {
	flex-grow: 1;
	margin-right: .6rem;
	line-height: 1.6rem;
	font-size: 14px;
	font-family: "Source Sans Pro", Ubuntu, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 700;
	color: #fe7030
}

@media screen and (max-width:800px) {
	.doc-navbar__logo__text {
		display: none
	}
}

.doc-sidebar {
	position: fixed;
	top: 50px;
	right: auto;
	bottom: 0;
	left: 0;
	width: 230px;
	height: auto;
	transition: .1s ease-in-out;
	background: #fff;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	z-index: 2
}

@media screen and (max-width:800px) {
	.doc-sidebar {
		left: -230px
	}
}

.doc-sidebar::-webkit-scrollbar {
	width: 4px;
	height: 4px
}

.doc-sidebar::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, .07);
	cursor: grab
}

.doc-sidebar::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, .05)
}

.doc-sidebar-list {
	padding-left: 0;
	margin-bottom: 100px;
}

.doc-sidebar-list__item {
	margin-left: 40px;
	list-style: none;
	line-height: 30px;
	font-size: 14px;
	font-weight: 300;
	color: grey
}

.doc-sidebar-list__item--link+.doc-sidebar-list__item--link {
	border-top: 1px solid #ededed
}

.doc-sidebar-list__item--link:hover {
	color: #fe7030
}

.doc-sidebar-list__item--current {
	color: #fe7030;
	font-weight: 500
}

.doc-sidebar-list__item a {
	color: inherit;
	display: inline-box
}

.doc-sidebar-list__item a span {
	display: inline-block;
	line-height: 20px;
	margin: 5px 0
}

.doc-sidebar-list>li.doc-sidebar-list__item--current::before {
	border-left: 3px solid #fe7030;
	content: " ";
	position: absolute;
	left: 0;
	height: 30px
}

.doc-sidebar-list__toc-list {
	padding-left: 12px
}

.doc-sidebar-list__toc-item {
	color: grey;
	list-style: none;
	font-weight: 300;
	padding-right: 12px;
	border-top: 1px solid #ededed
}

.doc-sidebar-list__toc-item--current {
	color: #fe7030
}

.doc-sidebar-list__toc-item:first-child {
	border-top: none
}

.doc-sidebar-list__children-list {
	padding-left: 10px
}

.doc-sidebar-list__item--child {
	margin-left: 0
}

.doc-content {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto;
	height: auto;
	min-height: 100vh;
	padding-top: 50px;
	padding-bottom: 420px;
	z-index: 2;
	transition: .1s ease-in-out;
	left: 230px;
	margin-right: 230px
}

.doc-content .dc-page {
	overflow: auto;
	padding-top: 0
}

@media screen and (max-width:800px) {
	.doc-content .dc-page {
		padding-top: .8rem
	}
}

@media screen and (max-width:800px) {
	.doc-content {
		left: 0;
		margin-right: 0
	}
}

.doc-formatting h1:first-child {
	margin-top: 0;
	line-height: 3.4rem
}

.doc-formatting a {
	font-weight: 500
}

.doc-formatting h2,
.doc-formatting h3 {
	position: relative
}

.doc-formatting img {
	display: inline-block;
	padding: 0 20px;
	max-width: 100%;
	position: relative;
	vertical-align: top
}

.doc-formatting ul {
	list-style-position: outside;
	margin-bottom: .75em;
	margin-top: .75em;
	padding-left: 30px
}

.doc-formatting ul li {
	margin-bottom: .5rem
}

.doc-formatting ul {
	list-style-type: disc
}

.doc-formatting p code {
	background: #f7f7f7;
	font-size: 90%;
	padding: 1px 5px;
	border-radius: 2px
}
